*{
    
 box-sizing: border-box;
}
body{
    padding: 10px;
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}


.dotted-hr{
    border: dotted 6px white;
    border-bottom: none;
    width: 80px;
    margin: 20px auto;


    
}



/* Navigation bar *//* Navigation bar *//* Navigation bar */
/* Navigation bar *//* Navigation bar *//* Navigation bar */
/* Navigation bar *//* Navigation bar *//* Navigation bar */

.navbar{
    background-color: rgb(32, 104, 100);
    padding: 10px;
    color: azure;
    font-family: 'Fjalla One', sans-serif;


}



.logo img{
    width: 56px;
    transition: width .1s;
}

.logo img:hover{
    width:60px;

}

.logo{
    text-align: center;

}

.name{
    text-align: center;
    font-size: 16px;
    transition: font-size .1s;

}

.name:hover{
    font-size: 17px ;
}




.menu  .md{
    display: flex;
    flex-direction: column;
    padding: 0 50px;


}


.menu .md a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    text-align: center;
    background-color: rgb(22, 83, 66);
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;

}



.menu .md .d{

    display: flex;
    flex-direction: column;
    position: relative;

}

.md .d .dd{
    position: absolute;
    top: 45px;
    left: 270px;

    display: none;


}

.md .dd a{
    margin: 0;
    border-radius: 0px;

}

.md .d:hover .dd{
    display: flex;
    flex-direction: column;
}


[class*="col-"]{
    float: left;
}



.navbar::after{
    content: '';
    clear: both;
    display: table;
}

.menu .md a:hover{
    background-color: gray;
}

.name:hover{
    color: tomato;
}


/* Navigation bar *//* Navigation bar *//* Navigation bar */
/* Navigation bar *//* Navigation bar *//* Navigation bar */
/* Navigation bar *//* Navigation bar *//* Navigation bar */




/* profile starts */ /* profile starts */ /* profile starts */ /* profile starts */ /* profile starts */ /* profile starts */
/* profile starts */ /* profile starts */ /* profile starts */ /* profile starts */ /* profile starts */ /* profile starts */
/* profile starts */ /* profile starts */ /* profile starts */ /* profile starts */ /* profile starts */ /* profile starts */

.profile{

    padding: 20px;
}

.img1 img{
    width: 120px;
    transition: width 2s, transform 2s;
}

.img1 img:hover{
    width: 120px;
    transform: rotate(360deg);
}

.profile-heading{
    font-family: 'Style Script', cursive;
    text-align: center;
    font-size: 20px;
}

.andsign{
    color: rgb(85, 38, 255);

}

.webtxt{
    color: orange;
}

.devtxt{
    color: rgb(53, 189, 76);
}

.img2 img{
    width: 120px;
    float: right;
    transition: width 2s, transform 2s;
}

.img2 img:hover{
    width: 120px;
    transform: rotate(360deg);
}

.profile::after{
    content: '';
    clear: both;
    display: table;
}

/* profile ends */ /* profile ends */ /* profile ends */ /* profile ends */ /* profile ends */
/* profile ends */ /* profile ends */ /* profile ends */ /* profile ends */ /* profile ends */

/* Works sarts*/

.works{
    background-color: rgb(67, 86, 121);
    padding: 10px;
    text-align: center;
    color: white;
}

.works iframe{
    margin: 2px;
    transform: width 1s;
}

.works iframe:hover{
    width: 302px;
    box-shadow: orange 0 5px 8px 0;

}



.works a{
    text-decoration: none;
    color: orange;
    font-weight: bold;
    transform: font-size 1s;
}

.works a:hover{
    color: palegreen;
    font-size: 17px;
}

.works h2{
    text-align: center;
}


.works::after{
    content: '';
    clear: both;
    display: table;
}

.footer{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
}

/* Works ends */




/* aboutme starts */ /* aboutme starts */ /* aboutme starts */ /* aboutme starts */
/* aboutme starts */ /* aboutme starts */ /* aboutme starts */ /* aboutme starts */

.about-me{
    background-color: rgb(180, 190, 161);
    padding: 10px;
}

.about-me h2{

    text-align: left;
    text-align: center;
    margin-bottom: 7px;
    }

.about-me p{
    margin-top: 10px;
    text-align: justify;
}

.about-me{
    text-align: center
}

.about-me img{
    border-radius: 30px;
    width: 200px;
}

.about-me .info-details{
    padding: 7px 30px;
}

.about-me::after{
    content: '';
    clear: both;
    display: table;
}

.cv{
    background-color: forestgreen;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.cv .cv-button{
    color: whitesmoke;
    background-color: rgb(253, 25, 25);
    text-align: center;
    
}

.cv .cv-button:hover{
    background-color: gold;
    color: black;
}

/* aboutme ends */ /* aboutme starts */ /* aboutme starts */ /* aboutme starts */
/* aboutme ends */ /* aboutme starts */ /* aboutme starts */ /* aboutme starts */



/* Skills Starts */ /* Skills Starts */ /* Skills Starts */

.skill {
    background-color: rgb(255, 255, 255);
    color: whitesmoke;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}



.work-ex, .edu-card, .skill-card {
   
    background-color: rgb(121, 118, 117);
    margin: 5px;
    padding: 10px;
    opacity: .9;
    
}

.work-ex:hover, .edu-card:hover, .skill-card:hover{
    opacity: 1;
    box-shadow: black 0 4px 7px 0;
}


.skill .work-ex-logo{
    display: flex;
    margin: 0 auto;
    width: 90px;

    padding: 10px;
    border: blanchedalmond solid 5px;
    border-radius: 50%;
}

.skill .work-ex-heading{
    text-align: center;
    background-color: rgb(65, 66, 66);
    padding: 5px 0;
}

.skill-container{
    margin-top: -14px;
}


.skill-container li{
    list-style-type: none;
    margin: 50px 0;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.skill-container li::before{
    content: '';
    position: absolute;
    top: calc(100% + 5px);

    background-color: honeydew;
    width: 100%;
    height: 20px;
    border-radius: 1000px;
}



.skill-container li::after{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;

    background-color: rgb(82, 114, 82);
    width: 0;
    height: 20px;
    border-radius: 1000px;

    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: forward;
    animation-fill-mode: forwards;
}

.skill-container li.html::after{
    animation-name: html;
}
.skill-container li.css::after{
    animation-name: css;
}
.skill-container li.js::after{
    animation-name: js;
}
.skill-container li.py::after{
    animation-name: py;
}
.skill-container li.c::after{
    animation-name: c;
}
.skill-container li.java::after{
    animation-name: java;
}



@keyframes html{
    to{
        width: 90%;
        background-color: red;
    }
}

@keyframes css{
    to{
        width: 70%;
        background-color: orange;
    }
}
@keyframes js{
    to{
        width: 10%;
        background-color: greenyellow;
    }
}
@keyframes py{
    to{
        width: 60%;
        background-color: rgb(248, 111, 69);
    }
}
@keyframes c{
    to{
        width: 90%;
        background-color: red;
    }
}
@keyframes java{
    to{
        width: 60%;
        background-color: rgb(4, 114, 32);
    }
}

.skill-card::after{
    content: '';
    clear: both;
    display: table;
}



/* Skills ends *//* Skills ends */




/* contact starts here */

.contact{
    background-color: rgb(0, 166, 172);
    text-align: center;
    color: white;
    padding: 10px;
    
}

.contact p{
    text-align: left;
}



.contact-me{

    text-align: center;
    
}

.textbox{
    text-align: center;
    padding-right: 20px;
}

.contact-me .textbox input, textarea{
    display: block;
    width: 100%;
    margin: 10px;

}

.contact-more{
    text-transform: uppercase;
    
}

.contact-more .links button {
    padding: 5px;
    font-size: 2.5rem;
    
    
}
.contact-more .links button{
    border: none;
    width: 57px;
    border-radius: 50px;
    background-color: white;
    
}

.contact-more .links button:hover{
    opacity: .9;
    
}

.contact-more .links a{
    text-decoration: none;
    margin: 10px;
}

/* Contact ends here */







[class*="col-"] {
    width: 100%;
    
}

  /* For desktop: *//* For desktop: *//* For desktop: */
@media only screen and (min-width: 750px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    [class*="col-"]{
        float: left;
    }

/* navbar starts */
    .logo{
        text-align: left;
    }


    .menu .md {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

    }

    .menu .md a{
        margin: 20px 0px;
        padding: 5px 10px;
        background: transparent;


    }

    .name{
        margin: -8px;
    }

    .md .d .dd{
        position: absolute;
        top: 50px;
        left: 50px;
        display: none;


    }

    .md .dd a{
        margin: 0;
        border-radius: 0px;
        background-color: rgb(15, 83, 72);
    }

    .md .d:hover .dd{
        display: flex;
        flex-direction: column;
    }

    /* nav end */



    /* profile starts */

    .container .profile p{
        
        margin: 0 auto;
        width: 50%;
    }

    /* profile ends */





    /* aboutme starts */ /* aboutme starts */ /* aboutme starts */ /* aboutme starts */
/* aboutme starts */ /* aboutme starts */ /* aboutme starts */ /* aboutme starts */
    .about-me{
        background-color: rgb(179, 190, 167);
        
    }
    .ab-head{
        margin-bottom: 50px;
    }

    .about-me .imag{
        
        float: left;
        
        display: block;
        margin-left:auto;
        margin-right: auto;
        
        
    }

    .about-me .img{
        width: 340px;
    }

    .about-me p{
        margin-top: 0;
        float: right;
    }
    .about-me div{
        float: right;
    }



/* aboutme ends */ /* aboutme starts */ /* aboutme starts */ /* aboutme starts */
/* aboutme ends */ /* aboutme starts */ /* aboutme starts */ /* aboutme starts */

/* Skills starts */ /* Skills starts */ /* Skills starts */ 


    .skill{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }

    .skill-card, .work-ex, .edu-card{
        height: 100vh;
        width: 100%;
    }


/* Skills ends */ /* Skills ends */ /* Skills ends */ 



}/* For desktop: *//* For desktop: *//* For desktop: */


